<div class="row">
    @*<div class="col-sm-2 col-md-2"></div>*@
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2>What is An API of Ice And Fire?</h2>
        <p>An API of Ice And Fire is the world's greatest source for quantified and structured data from the universe of Ice and Fire (and the HBO series Game of Thrones).</p>
        <p>We give you access to data about all the <strong>Books</strong>, <strong>Characters</strong> <strong>and Houses</strong> in an easy to use <a href="http://json.org/">JSON</a> format.</p>
    </div>
    @*<div class="col-sm-2 col-md-2"></div>*@
</div>
<div class="row">
    @*<div class="col-sm-2 col-md-2"></div>*@
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2>Who are you?</h2>
        <p>I'm <a href="https://github.com/joakimskoog">Joakim Skoog</a> and I build cool stuff over at <a href="https://nelly.com">Nelly.com</a>. If you have questions or thoughts about this API don't hesitate to send me a <a href="https://twitter.com/j_skoog">tweet</a> or an <a href="/cdn-cgi/l/email-protection#731a1d151c33121d12031a1c151a1016121d17151a01165d101c1e">email</a>.</p>

    </div>
    @*<div class="col-sm-2 col-md-2"></div>*@
</div>
<div class="row">
    @*<div class="col-sm-2 col-md-2"></div>*@
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2>Why did you build this?</h2>
        <p>
            I decided to build this API because I've always loved building stuff for other developers. I also love everything about the books in the A Song of Ice And Fire series and I follow all the different fan theories religiously.
            I got inspired to build my own REST'ish API after finding Paul Hallett's awesome <a href="http://swapi.co">SWAPI</a>.
        </p>
        <p>Besides, this was a great opportunity to try out new techniques.</p>
    </div>
    @*<div class="col-sm-2 col-md-2"></div>*@
</div>
<div class="row">
    @*<div class="col-sm-2 col-md-2"></div>*@
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2>Technology used</h2>
        <p>An API of ice And Fire is built on the new <a href="https://docs.asp.net/en/latest/intro.html">ASP.NET Core platform</a>.</p>
    </div>
    @*<div class="col-sm-2 col-md-2"></div>*@
</div>
<div class="row">
    @*<div class="col-sm-2 col-md-2"></div>*@
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2>Copyright</h2>
        <p>The A Song of Ice And Fire series and its data is the property of <a href="http://www.georgerrmartin.com/">George R.R. Martin</a>. The data is used without claim of ownership.</p>
        <p>All data has been collected from free sources such as <a href="http://awoiaf.westeros.orgs">A Wiki of Ice and Fire</a></p>
        <p>This project uses a BSD license.</p>
    </div>
    @*<div class="col-sm-2 col-md-2"></div>*@
</div>